<%- include('include/header') %>

    <h1>Contact </h1>

    <p> You can Email me at <a href="airaf724@gmail.com">airaf724@gmail.com</a>  </p>
    <p> Also you can call me at <a href="">85303154544 </a></p>


<%- include("include/footer") %>